<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProyectoMayo"
        tools:targetApi="31">
        <activity
            android:name=".ui.details.presenter.ActivityDetails"
            android:exported="false" />
        <activity
            android:name=".ui.search.presenter.ActivitySearch"
            android:exported="false" />
        <activity
            android:name=".ui.us.presenter.ActivityUs"
            android:exported="false" />
        <activity
            android:name=".ui.puppies.presenter.ActivityPuppies"
            android:exported="false" />
        <activity
            android:name=".ui.random.presenter.ActivityRandom"
            android:exported="false" />
        <activity
            android:name=".ui.home.presenter.ActivityHome"
            android:exported="false" />
        <activity
            android:name=".ui.splash.presenter.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>